:root {
    --text-color: #000;
    --main-color: rgb(255, 77, 77);
    --main-color-rgb: 255, 77, 77;
    --font-text: 'Poppins', sans-serif;
    --font: 'Space Grotesk', sans-serif;
    --background-color: #fff;
}

html,
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font);
}


.main {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.main .title {
    color: var(--text-color);
    font-family: var(--font-text);
    font-size: 7rem;
    font-weight: 700;
}

.main .skills {
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.2rem;
}

.main .itemrow .item {
    width: 100%;
    border-radius: 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: 0.25s ease-in-out;
    margin-bottom: 2rem;
    font-size: 17.5px;
}

.main .itemrow .item:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.25s ease-in-out;
}


@media screen and (max-width: 600px) {
    .main .itemrow .item {
        width: inherit;
    }
}

.main .itemrow .item h1 {
    font-family: var(--font-text);
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.main .socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.main .socials .sitem {
    padding: 10px;
    margin-right: 10px;
}


@media screen and (max-width: 1000px) {
    .main iframe {
        width: 90px;
    }
}


footer {
    margin-top: 7vh;
    margin-bottom: 2rem;
    text-align: center;
}